@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona sklepu internetowego</h1>
    <p>Na tej stronie internetowej mozesz przeglądać swoje zamówienia.</p>
</div>
